@model IEnumerable<BookMyShowEntity.Booking>
<div>
    <hr />
    <a asp-controller="Booking" asp-action="BookingEntry">Booking Entry</a>
    <hr />
</div>
<div class="row">
    <div class="col-12">
        <h3 align="center">Booking List</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Booking Id</th>
                    @*<th>User Id</th>*@
                    <th>User Name</th>
                    @*<th>Show Timing Id</th>*@
                    @*<th>Movie Name</th>
                    <th>Theatre Name</th>*@
                    <th>Show Timing Id</th>
                    <th>Number of Seats</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.User.FirstName</td>
                        @*<td>@booking.ShowTiming.Movie.Name</td>
                    <td>@booking.ShowTiming.Theatre.Name</td>*@
                        <td>@booking.ShowTiming.Id</td>
                        <td>@booking.Quantity</td>
                        <td><a asp-controller="Booking" asp-action="EditBooking" asp-route-BookingId="@booking.Id">Edit</a></td>
                        <td><a asp-controller="Booking" asp-action="DeleteBooking" asp-route-BookingId="@booking.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
